<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<style>
    body{
        text-align: center;
    }
    input{
            border-color: #ee4c7c;
            width: 200px;
            padding: 10px;
            border-radius: 5px;
        }
        input:hover{
            border-color: #f31658;
            width: 250px;
        }
        input:active{
            border-color: #f31658;
            width: 250px;
        }
        button{
            padding: 7px;
            border-color: #df019c;
            color: hsl(342, 90%, 52%);
            border-radius: 5px;
            font-size: large;
        }
        select{
            padding: 7px;
            border-color: #df019c;
            color: #f31658;
            border-radius: 5px;
            font-size: large;
        }
        button:hover{
            padding: 12px;
            background-color: black;
            border-radius: 5px;

        }
        textarea{
            border-color: #ee4c7c;
            width: 250px;
            height: 70px;
            padding: 10px;
            border-radius: 5px;
            border-width: 2px;
        }
        #customFile{
            padding: 7px;
            border-color: #df019c;
            color: #f31658;
            border-radius: 5px;
            font-size: 15px;
        }
        textarea:hover{
            border-color: #f31658;
            width: 350px;
        }
        textarea:active{
            border-color: #f31658;
            width: 350px;
        }
</style>
<body>
    <%- include('partials/navbar') %>
    <form action="/newproduct" method="POST" enctype="multipart/form-data">
        <div >
            <label for="productname"> Product Name </label><br>
            <input  type="text" name="productname"  id="name" placeholder="Enter item name"  required />
                  
        </div>
        
        <div>
            <label for="description">Description </label><br>
            <textarea name="description" id="description"  placeholder="Description" required   ></textarea>
 
        </div>
        <div >
            <label for="tag"> Product Category </label><br>
            <select  id="productcategory" name="tag">
               
                <option value="Statues"> Statues </option>
                <option value="Coins"> Coins </option>
                <option value="Paintings"> Paintings </option>
                <option value="Ornaments"> Ornaments </option>
                <option value="Tools"> Tools </option>
                <option value="Other Products"> Other products </option>
            </select>
        </div>
        <div >
            <label for="baseprice"> Base Price</label><br>
            <input  type="number" name="baseprice"  id="baseprice" placeholder = "Base Price"  required  min = "0"/>
                  
        </div>
        <% let d = new Date()%>
        <% let n = d.toISOString()%>
        <% n= n.slice(0,-8)%>
        <div>
            <label  for="start">Auction Start Time :</label><br>
            <input type="datetime-local" name="start" id="start" placeholder="Auction Start Time" onchange="return dateValidation1()" min=<%=n%> required>
        </div>
        <div>
            <label  for="end">Auction End Time :</label><br>
            <input type="datetime-local" name="end" id="end" placeholder="Auction End Time" onchange="return dateValidation()" min=<%=n%> required>
        </div>
        <div >
            
            
                <label for="image"> Image </label><br>
                <input type="file"  id="customFile" name="image" onchange="return fileValidation()" required>
               
            
        </div>
        <br>
        <button>Submit</button>
    </form>

    <script>
        function fileValidation() {
            let file = document.getElementById('customFile');
            let filePath = file.value;
            if(filePath!=''){
            let allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
            if (!allowedExtensions.exec(filePath)) {
                alert('Invalid file type! Only files with .jpg, .jpeg, .png or .gif are allowed');
                file.value = '';
                return false;
            } 
          }
                  
        }
        function dateValidation(){
            let deadline = document.getElementById('end');
            let deadlineDate = deadline.value;
            if(deadlineDate!=''){
                let now = Date.now();
                let deadlineFormat = new Date(deadlineDate);
            if(deadlineFormat<now){
                alert('Please enter a future time to end the auction');
                deadline.value='';
                return false;
            }
            }
        }
        function dateValidation1(){
            let start = document.getElementById('start');
            let startDate = start.value;
            if(startDate!=''){
                let now = Date.now();
                let startFormat = new Date(startDate);
            if(startFormat<now){
                alert('Please enter a future time to start the auction');
                start.value='';
                return false;
            }
            }
        }
    </script>
</body>
</html>